// body {
//   background-color: rgb(101, 161, 183);
// }
// .container {
//   max-width: 1300px;
// }
// .head {
//   background-color: rgb(101, 161, 183);
//   box-shadow: rgba(0, 0, 0, 0.2) 0px 2.95px 0px;
//   padding-left: 10px;
//   display: flex;
//   justify-content: space-between;
//   .logoImg {
//     width: 70px;
//     height: 50px;
//     border-radius: 5px;
//   }
//   .navbar-brand {
//     margin-left: 20px;
//   }
//   .head-link {
//     text-decoration: none;
//     color: white;
//   }
//   .head-txt {
//     display: flex;
//     gap: 20px;
//     p {
//       margin-top: 15px;
//       font-family: sans-serif;
//       font-size: 18px;
//     }
//   }
// }

/* Header.css */

/* Light mode (default) */
.light-mode {
  // background-color: white;
  color: black;
}

.light-mode .head {
  background-color: rgb(101, 161, 183);
}

.light-mode .head-link p {
  color: black;
}

/* Dark mode */
.dark-mode {
  color: white;
}

.dark-mode .head {
  background-color: black;
  border-radius: 4px;
}

.dark-mode .head-link p {
  color: white;
}

/* Common styles */
body {
  background-color: rgb(101, 161, 183);
}

.container {
  max-width: 1300px;
}

.head {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2.95px 0px;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
}

.logoImg {
  width: 70px;
  height: 50px;
  border-radius: 5px;
}

.navbar-brand {
  margin-left: 20px;
}

.head-link {
  text-decoration: none;
}

.head-txt {
  display: flex;
  gap: 20px;
}

.head-txt p {
  margin-top: 15px;
  font-family: sans-serif;
  font-size: 18px;
}
