body {
  font-family: sans-serif;
}
.link {
  text-decoration: none !important;
}
.ahref {
  text-decoration: none;
  color: white;
}
main {
  margin-top: 150px;
  .home-first {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    .logoImg {
      width: 230px;
      height: 170px;
      border-radius: 5px;
      margin-top: 15px;
    }
    .a {
      width: 3px;
      height: 200px;
      background-color: #222121;
      margin-left: 20px;
      margin-right: 20px;
      border-radius: 5px;
    }
    .home-fir-mini {
      margin-top: 10px;
      h1 {
        font-family: sans-serif;
        color: white;
      }
      p {
        font-family: sans-serif;
        font-size: 18px;
        max-width: 630px;
        color: white;
      }
    }
  }
  .home-second {
    margin-top: 150px;
    text-align: center;
    h1 {
      color: white;
    }
    .home-sec-skil {
      margin-top: 50px;
      display: flex;
      justify-content: center;
      gap: 100px;
      flex-wrap: wrap;
      h1 {
        font-family: sans-serif;
        font-size: 30px;
      }
    }
  }
  .home-third {
    .home-third-min {
      margin-top: 50px;
      display: flex;
      flex-wrap: wrap;
      gap: 50px;
      .home-third-min1 {
        background-color: #ccc;
        max-height: 500px;
        border-radius: 3px;
        h3 {
          color: black;
          margin-top: 30px;
        }
      }
      img {
        border-radius: 2px;
        max-width: 610px;
        max-height: 350px;
      }
      .home-third-min1 {
      }
    }
  }
  .home-fourth {
    margin-top: 150px;
    text-align: center;
    padding-bottom: 70px;
    h1 {
      color: white;
    }
    .home-fourth-mini {
      display: flex;
      gap: 40px;
      justify-content: center;
      flex-wrap: wrap;
      padding-top: 20px;
    }
  }
  /* Animation for SVG icons */
  @keyframes float {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }

  .home-sec-skil svg {
    animation: float 1.3s ease-in-out infinite;
  }

  .home-third {
    margin-top: 150px;
    text-align: center;
    h1 {
      color: white;
      font-family: sans-serif;
    }
  }
}
@media only screen and (max-width: 1293px) {
  .home-third-min {
    justify-content: center;
  }
}
@media only screen and (max-width: 657px) {
  .home-fir-mini {
    justify-content: center;
    h1 {
      text-align: center;
    }
    p {
      width: 500px;
    }
  }
  .home-third {
    img {
      width: 450px;
      height: 240px;
    }
  }
}
@media only screen and (max-width: 500px) {
  .home-fir-mini {
    justify-content: center;
    h1 {
      text-align: center;
    }
    p {
      width: 300px;
    }
  }
  .home-third {
    img {
      width: 350px;
      height: 140px;
    }
  }
}
