body {
  font-family: sans-serif;
}
.link {
  text-decoration: none !important;
}
.ahref {
  text-decoration: none;
  color: white;
}
main {
  margin-top: 150px;
  .home-first {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    .logoImg {
      width: 230px;
      height: 170px;
      border-radius: 5px;
      margin-top: 15px;
    }
    .a {
      width: 3px;
      height: 200px;
      background-color: #222121;
      margin-left: 20px;
      margin-right: 20px;
      border-radius: 5px;
    }
    .home-fir-mini {
      margin-top: 10px;
      h1 {
        font-family: sans-serif;
        color: white;
      }
      p {
        font-family: sans-serif;
        font-size: 18px;
        max-width: 630px;
        color: white;
      }
    }
  }
  .home-second {
    margin-top: 250px;
    text-align: center;
    h1 {
      color: white;
    }
    .home-sec-skil {
      margin-top: 100px;
      display: flex;
      justify-content: center;
      gap: 100px;
      flex-wrap: wrap;
      h1 {
        font-family: sans-serif;
        font-size: 30px;
      }
    }
  }
  .home-third {
    padding-top: 100px;
    .home-third-min {
      margin-top: 50px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 100px;
      .home-third-min1 {
        background-color: #c9c9c9;
        max-height: 500px;
        border-radius: 3px;
        .gitt {
          padding-top: 40px;
          padding-bottom: 40px;
          display: flex;
          justify-content: center;
          gap: 20px;
          flex-wrap: wrap;
        }
        .git {
          width: 150px;
          padding-top: 10px;
          display: flex;
          gap: 10px;
          background-color: #241f1f;
          border-radius: 5px;
          justify-content: center;
          p {
            color: white;
          }
          .iGit {
            margin-top: 4px;
            color: white;
          }
        }
        .git:hover {
          transition: 0.4s;
          transform: scale(1.05);
        }
      }
      img {
        border-radius: 2px;
        max-width: 500px;
        max-height: 250px;
        margin-bottom: 20px;
      }
      .home-third-min1 {
      }
    }
  }
  .home-fourth {
    margin-top: 150px;
    text-align: center;
    padding-bottom: 70px;
    h1 {
      color: white;
    }
    .home-fourth-mini {
      display: flex;
      gap: 40px;
      justify-content: center;
      flex-wrap: wrap;
      padding-top: 20px;
    }
  }
  /* Animation for SVG icons */
  @keyframes float {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }

  .home-sec-skil svg {
    animation: float 1.3s ease-in-out infinite;
  }

  .home-third {
    margin-top: 150px;
    text-align: center;
    h1 {
      color: white;
      font-family: sans-serif;
    }
  }
}
@media only screen and (max-width: 1293px) {
  .home-third-min {
    justify-content: center;
  }
}
@media only screen and (max-width: 657px) {
  .home-fir-mini {
    justify-content: center;
    h1 {
      text-align: center;
    }
    p {
      width: 500px;
    }
  }
  .home-third {
    img {
      width: 450px;
      height: 240px;
    }
  }
}
@media only screen and (max-width: 500px) {
  .home-fir-mini {
    justify-content: center;
    h1 {
      text-align: center;
    }
    p {
      width: 300px;
    }
  }
  .home-third {
    img {
      width: 350px;
      height: 140px;
    }
  }
}
